.input-container {
  &__title {
    display: block;
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-search {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  width: auto;
  height: 3.5rem;
  border: 1px solid $black;
  padding: 0 15px;
  background-color: $white;
  &__icon {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    align-self: center;
  }
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 1.5rem;
}

input:focus {
  outline: none;
}
