.product-search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: 770px) {
    width: 500px;
    margin-bottom: 2rem;
  }
  &__title {
    font-size: 4rem;
  }
}
