@import '../../../styles/variables.scss';

.filters-section {
  display: flex;
  flex-direction: column;
}

.filters-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  @media (min-width: 770px) {
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.filters-list__item {
  width: 100%;
  @media (min-width: 770px) {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  @media (min-width: 770px) {
    width: auto;
    flex-basis: 50%;
    flex-grow: 1;
  }
}

.filter-button {
  background-color: $white;
  height: 80px;
  width: 100%;
  border: 2px solid $black;
  margin-bottom: 20px;
  font-weight: bold;

  &:hover,
  &:active,
  &:focus {
    background-color: $black;
    color: $white;
  }
  &--active {
    background-color: $black;
    color: $white;
  }
  &--green {
    background-color: $green;
    color: $white;
    &:hover,
    &:active,
    &:focus {
      background-color: $green;
      color: $white;
    }
  }
  &--red {
    background-color: $red;
    color: $white;
    &:hover,
    &:active,
    &:focus {
      background-color: $red;
      color: $white;
    }
  }
  &--yellow {
    background-color: $yellow;
    color: $white;
    &:hover,
    &:active,
    &:focus {
      background-color: $yellow;
      color: $white;
    }
  }
  &--blue {
    background-color: $blue;
    color: $white;
    &:hover,
    &:active,
    &:focus {
      background-color: $blue;
      color: $white;
    }
  }
}
