.filters-list__item {
  width: 100%;
  @media (min-width: 770px) {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  @media (min-width: 770px) {
    width: auto;
    flex-basis: 50%;
    flex-grow: 1;
  }
  &__title {
    font-size: 1.4rem;
  }
}

.filter-button {
  background-color: $white;
  height: 80px;
  width: 100%;
  border: 2px solid $black;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: bold;

  &:hover,
  &:active,
  &:focus,
  &--active {
    background-color: $black;
    color: $white;
  }
  &--green {
    @include filter-buttons($green);
  }
  &--red {
    @include filter-buttons($red);
  }
  &--yellow {
    @include filter-buttons($yellow);
  }
  &--blue {
    @include filter-buttons($blue);
  }
}
